</div>
</div>
<div id="footer">
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Based on material by The App Brewery. Made better by Francis Barrow</p>
  </div>
</div>
</div>
</body>

</html>